/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  padding-top: 102px;
  font-family: var(--main-text);
  font-size: var(--text-card-size);
  font-variation-settings: "wght" var(--font-weight-regular);
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

@media (width > 376px) {
  .header {
    max-width: 700px;
  }

  .logo {
      margin-block-start: 22px;
  }

  .header_title {
      margin-block-start: 12px;
  }

  .card {
    max-width: 700px;
  }

  .title {
    margin-left: 10px;
    margin-right: 24px;
  }

  .conteiner_image {
    max-inline-size: 696px;
  }
}

.section_center {
  margin: 0 auto;
}

.header {
  min-width: 375px;
  background-color: var(--background-color);
  font-family: var(--accent-text);
  font-weight: var(--font-weight-regular);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--border-title_color);
  margin-block-end: 100px;
  padding-top: 120px;
}

.logo {
  font-size: clamp(3.063rem, 2.71rem + 1.5vw, 4.063rem);
  line-height: 49px;
  color: var(--text-color);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.header_title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  color: var(--text-color);
  text-transform: uppercase;
  margin-bottom: 25px;
}

.theme-menu {
  transform: translate(10px, -4px);
  margin-block-end: 18px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.theme-menu__item {
  list-style: none;
  font-size: 14px;
  color: var(--text-color);
}

.theme-menu__button {
  position: relative;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  z-index: 1;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  top: 0;
  left: -12px;
  opacity: 0.6;
  pointer-events: none;
  animation: moving-arrow 0.5s infinite alternate ease-in-out;
}

.theme-menu__button:hover {
  opacity: 0.6;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: var(--button-text-color);
  transition: width 0.3s ease;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
  opacity: 0.6;
}

.card {
  min-width: 375px;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  border: 2px solid var(--border-title_color);
  margin-block-end: 50px;
}

.conteiner_image {
  min-inline-size: 371px;
  position: relative;
  z-index: 1;
  border-top: 2px solid var(--border-title_color);
  border-bottom: 2px solid var(--border-title_color);
}

.card_image {
  object-position: center;
  object-fit: cover;
  width: 100%;
  height: 100%;
  vertical-align: bottom;
}

.image_filter-sepia {
  filter: sepia(0.9);
}

.filter_image-brightness {
  filter: brightness(200%);
}

.filter_image-hue-rotate {
  filter: hue-rotate(40deg);
}

.filter_image-invert {
  filter: invert(0.9);
}

.filter_image-saturate {
  filter: saturate(8%);
}

.filter_image-blur {
  filter: blur(0.3rem);
}

.filter_image-many {
  filter: sepia(0.8) contrast(2) brightness(120%);
}

.label {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--accent-text);
  font-weight: var(--font-weight-regular);
  font-size: 14px;
  line-height: 14px;
  mix-blend-mode: hard-light;
  -webkit-text-stroke: 1px var(--webkit-color-stroke);
  text-shadow: 1px var(--webkit-color-stroke);
}

@supports((-webkit-text-stroke: 1px var(--webkit-color-stroke))) {
  .label {
      -webkit-text-stroke: 1px var(--webkit-color-stroke);
  }
}

.label_title {
  text-transform: uppercase;
}

.label_card {
  text-transform: lowercase;
}

.content_card {
  display: flex;
  flex-direction: column;
  gap: 27px;
  margin: 25px 27px;
}

.title {
  font-family: var(--main-text);
  font-size: var(--text-card-size);
  font-variation-settings: "wght" var(--font-weight-bold);
  color: var(--text-color);
  line-height: 22px;
  margin: 3.5px 10px 5.5px 10px;
}

.title-card {
  font-family: var(--main-text);
  font-size: var(--text-card-size);
  font-variation-settings: "wght" var(--font-weight-bold);
  color: var(--text-color);
  line-height: 22px;
  margin: 4px 10px 6px 10px;
}

@media (width > 376px) {
  .title,
  .title-card {
    margin: 5px 24px 4px 10px;
  }
}

.text-card_paragraph {
  font-weight: var(--font-weight-regular);
  font-family: var(--main-text);
  font-size: var(--text-card-size);
  color: var(--text-color);
  line-height: 21px;
}

.section_button {
  display: flex;
  gap: 12px;
  justify-content: end;
  margin-right: 25px;
  margin-block-end: 25px;
  height: 38px;
}

.card__icon-button {
  background-color: transparent;
  border: 2px solid transparent;
  padding: 0;
  transform: translateX(8px);
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--border-icon_button);
  transition: border 0.3s ease;
}

.like-icon {
  transform-origin: center;
}

.card__like-button {
  background-color: transparent;
  border: 2px solid var(--border-title_color);
  width: 130px;
  position: relative;
  overflow: hidden;
}

.card__like-button::before,
.button_floppy::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: var(--color-like_button);
  transition: transform 0.5s ease-in-out;
}

.card__like-button:hover::before,
.button_floppy:hover::before {
  transform: translateX(100%);
}

.card__like-button:hover,
.button_floppy:hover,
.button_close:hover {
  cursor: pointer;
}

.card__like-button:hover::after {
  animation: like-button 0.5s ease-in-out;
}

.card__like-button:focus,
.button_floppy:focus,
.button_close:focus {
  outline: none;
}

.card__like-button:focus-visible,
.button_floppy:focus-visible,
.button_close:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--color-shadow);
  transition: box-shadow 0.3s ease;
}

.button__text {
  font-weight: var(--font-weight-regular);
  font-family: var(--accent-text);
  font-size: 14px;
  color: var(--mix-blend-mode-text);
  mix-blend-mode: difference;
}

.text_floppy {
  text-transform: uppercase;
  line-height: 150%;
}

.button {
  display: flex;
  min-width: 306px;
  min-height: 84px;
  justify-content: center;
  margin-block-end: 100px;
}

.button_floppy {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  padding: 15px 20.5px 15px 19.5px;
  background-color: var(--background-color);
  border: 2px solid var(--color-like_button);
  position: relative;
  overflow: hidden;
}

.floppy_footer {
  color: var(--mix-blend-mode-text);
  mix-blend-mode: difference;
  width: 28px;
  height: 28px;
}

.dialog-disketa {
  min-width: 341px;
}

.dialog-disketa:focus {
  outline: none;
}

.dialog-disketa[open] {
  background-color: var(--background-color);
  display: grid;
  grid-template-rows: 63px 38px;
  gap: 30px;
  padding: 30px 28px;
  border: 2px solid var(--border-title_color);
}

dialog::backdrop {
  background: #000000;
  opacity: 0.75;
}

.disketa {
  min-width: 257px;
  display: flex;
  gap: 20px;
}

.floppy_dialog {
  width: 39px;
  height: 39px;
  color: var(--color-floppy);
  flex-shrink: 0;
  align-self: center;
}

.button_close {
  background-color: transparent;
  min-width: 257px;
  min-height: 38px;
  border: 2px solid var(--border-title_color);
}

@media (width > 376px) {
  .button {
    min-width: 335px;
    min-height: 51px;
    margin-block-end: 103px;
  }

  .button_floppy {
   display: flex;
   flex-direction: row;
   padding: 15px 21px 15px 19px;
  }

  .floppy_footer {
    width: 21px;
    height: 21px;
  }

  .dialog-disketa {
    max-width: 353px;
  }

  .button_close {
    min-width: 293px;
  }
}
